
<div class="row">
    <div class="span5 offset1 text-center" style="margin-top:40px;">
        <h3>Importante !!!</h3>
        <p>Para poder dar aviso del recupero de tu bicicleta se debe 
        ingresar la direccion de mail con la cual 
        diste de alta la denuncia, 
        en algunos minutos llegara a esa casilla de correo un pedido 
        de confirmacion, haciendo click en la direccion URL
        remitida el estado de tu denuncia
        pasara a incativo y ya no sera vista dando por 
        terminado el evento.</p>
    </div>
</div>

<form action="/recuperada/aviso_recuperada/"
            method="post" class="form-horizontal"
            role="form"
            style="display: inline;">{% csrf_token %}
   <div class="row">
   <div class="span5 offset1 text-center" 
    style="margin-top:40px;">
        <input type="email" name="correo"
            value="{{ posts.correo }}"
            placeholder="Introduce tu email"
            class="form-control" />
        <input type="hidden" name="fromPagina" value="modal">
        <button type="submit"
               class="btn btn-sm btn-success btn-custom"
               style="margin:10px;"/>
            <span class="glyphicon glyphicon-plus"></span>
            DAR AVISO !!!
        </button>
       
    </div>
</div>
</form>
