<div class="row">
      <div class="span5 offset1 text-center" style="margin-top:40px;">
          {% if correo %}
              <h3>Se ha emitido el aviso !!!</h3>
              <h3>{{ correo }}</h3>
              <br>
              <p>En minutos mas estara llegando a su casilla de correo 
              la direccion URL sobre la que debera hacer click para
              dar por terminada la denuncia.</p>
              <p>Si no llega el mail al correo entrante 
              recuerde revisar su carpeta de correo no deseado.</p>
              <p>Gracias por hacer uso del servicio.</p>
          {% else %}
             <h3>No se ha emitido ningun aviso.</h3>
             <p>Debe ingresar una direccion de email.</p>
          {% endif %}
      </div>
</div>