{% extends "baseIndex.html" %}
{% load url from future %}
{% load staticfiles %}
{% block search %}
	<div class="input-group span2" style="margin-top:10px;">
	    <form action="/denuncias/viewEvent/" method="post"
	        class="form-horizontal" role="form"
	        style="display: inline;">{% csrf_token %}
	        <span class="input-group-btn">
	            <input type="text" class="form-control" name="q">
	            <button class="btn btn-default btn-custom"
	                type="submit">
	                <i class="glyphicon glyphicon-search"></i> Buscar</button>
	        </span>
	    </form>
	</div>
{% endblock %}

{% block titulo%}
        <h2>{{ titulo }}</h2>
{% endblock %}

{% block datos %}
    <div class="row">
        <div class="span10 text-center">
            <p>En esta seccion se puede hacer la denuncia de la bicicleta que
            te han robado.</p>
            <p>Te pedimos poner la mayor cantidad de datos posibles para ayudar
            a que otro usuario pueda tener la posiblidad de individualizar mas
            facilmente tu bicileta.</p>
            <p>Carga datos verdaderos, el robo de un bicilceta no es
            un juego... <strong>es un delito</strong>.</p>
            <p>Te recomendamos hacer la denuncia ante la policia.</p>
        </div>
    </div>
    <div class="row">
        <div class="span10 text-center"
            style="margin-top:40px;">
            <form action="/denuncias/append_denuncias/"
                method="post" class="form-horizontal"
                role="form"
                style="display: inline;">{% csrf_token %}
            <input type=hidden name=id value=none>
            <button type="submit"
                class="btn btn-primary btn-lg btn-block"/>
                <span class="glyphicon glyphicon-plus"></span>
                HACER DENUNCIA !!!
            </button>
            </form>
        </div>
    </div>
{% endblock %}
{% block estadistica %}
    {% include "estadistica.html" %}
{% endblock %}