{% extends "baseIndex.html" %}
{% load url from future %}
{% load staticfiles %}

{% block titulo%}
	    <h2>Informacion legal</h2>
{% endblock %}
{% block datos %}

	        <div class="row-fluid">
            <div class="span10" 
                style="overflow-y:scroll; height:450px;">
                <p>Avisos legales y condiciones de uso</p>
                <ul>
                    <li>Objeto</li>
                    <li>Propósito de esta web</li>
                    <li>Condiciones de uso</li>
                    <li>Autor</li>
                    <li>Propiedad intelectual y derechos</li>
                    <li>Contenidos</li>
                    <li>Protección de datos</li>
                    <li>Exclusión de garantías. Responsabilidad.</li>
                    <li>Dispositivos técnicos</li>
                    <li>Cambio de condiciones</li>
                </ul>
                <p>1. Objeto</br>
                El presente documento tiene por objeto establecer las
                Condiciones Generales de Uso del Portal bikeRobada.net
                (en adelante el Portal o el Website), titularidad de
                Marcelo Eduardo Martinovic (en adelante el propietario),
                con correo electrónico marcelo.martinovic@gmail.com,
                con DNI 21.518.519.</br>

                El propietario se reserva el derecho a modificar las presentes
                Condiciones Generales de Uso con el objeto de adecuarlas a la
                legislación vigente aplicable en cada momento, las novedades
                jurisprudenciales y las prácticas habituales.</br>
                Las presentes Condiciones Generales de Uso no excluyen la
                posibilidad de que determinados Servicios del Portal, por sus
                características particulares, sean sometidos, además de a las
                Condiciones Generales de Uso, a sus propias condiciones
                particulares de uso (en adelante, las Condiciones Particulares)</br>
                La utilización por parte del Usuario de cualquiera de los
                Servicios del Portal supone y expresa su adhesión y aceptación
                expresa a todas las Condiciones Generales de Uso en la versión
                publicada en la presente página web en el momento en que el
                usuario acceda al Portal, así como a las Condiciones
                Particulares que, en su caso, sean de aplicación.</br>

                <a href="#top">Volver arriba</a>
                </p>

                <p>2. Propósito de esta web</br>

                Esta web ha sido creada con el propósito de ayudar a recuperar
                bicicletas robadas. Es equiparable a un tablón de anuncios o
                censo de bicicletas robadas donde los propietarios, de forma
                voluntaria, pueden colgar información acerca de una bici de su
                propiedad que haya sido sustraída. Estas bicis se añaden a una
                base de datos en la que se puede buscar de forma cómoda y
                rápida, para que quien crea haber localizado una bicicleta
                robada pueda encontrarla rápidamente en el censo.
                </br>
                El propietario puede en todo momento marcar una bicicleta como
                recuperada, o eliminarla completamente del sistema.
                </br>
                <a href="#top">Volver arriba</a>
                </p>

                <p>
                3. Condiciones de uso
                </br>
                Esta web ofrece un servicio similar a un tablón de anuncios,
                donde usuarios de Argentina publican los datos de sus bicicletas
                robadas, y otros usuarios pueden buscar dichas bicicletas en la
                base de datos con el único fin de informar al propietario y
                tratar de recuperar los vehículos sustraídos.
                </br>
                El fin último de este website es el de tratar de facilitar la
                recuperación de bicicletas robadas, así como disuadir
                de su robo.
                </br>
                El usuario que hace uso de este servicio asume las condiciones
                de uso del mismo. El usuario es el único responsable de los
                datos introducidos en el sistema, especialmente de los datos
                referidos a la descripción de la bicicleta y sus accesorios,
                número de serie y datos de la denuncia oficial del robo.
                </br>
                Al usuario se le solicita una dirección de correo electrónico
                para registrar una nueva bicicleta robada en el censo.
                Esta dirección de correo nunca se hará pública, ni se
                comunicará a terceros ni será usada para otro fin que el del
                funcionamiento normal del servicio. Esto significa que el
                usuario podrá recibir comunicaciones desde esta web
                exclusivamente para:
                </br>
                Enviarle los comentarios de otro usuario que pueda haber
                localizado su bicicleta</br>
                Enviarle el código olvidado de una de sus bicicletas en el censo</br>
                Enviarle posibles avisos acerca del funcionamiento de la web o
                del servicio</br>
                Cuando un usuario desea contactar con otro a fin de informarle
                 de una posible pista o localización sobre su bicicleta, se le
                 solicitará una dirección de correo electrónico.
                 Esta dirección no se almacena en el sistema, pero sí se
                 enviará al propietario de la bicicleta sustraída, a fin de
                 que entre ambos usuarios se pueda establecer una comunicación
                 vía email y externa a este website a fin de tratar de
                 localizar y recuperar la bicicleta robada.</br>
                El usuario podrá en cualquier momento eliminar del sistema
                las bicicletas introducidas en el censo.</br>

                <a href="#top">Volver arriba</a>
                </p>
                <p>
                4. Autor
                </br>
                Esta web ha sido desarrollada y es mantenida por
                Marcelo Martinovic, con DNI 21.518.519. Para cualquier
                cuestión se puede contactar con el
                autor en marcelo.martinovic@gmail.com.
                </br>
                <a href="#top">Volver arriba</a>
                </p>
                <p>
                5. Propiedad intelectual y derechos
                </br>
                Todos los textos y fotografías que aparecen en este website
                pertenecen a sus respectivos propietarios. El usuario se
                compromete a no enviar textos ni fotografías de los que no
                posea todos los derechos.
                </br>
                El usuario autoriza a reproducir, distribuir y comunicar
                públicamente las fotografías que inserte en el website para 
                ser publicadas en el Portal y cualesquiera otros medios de 
                los que el portal haga uso con finalidades publicitarias, así 
                como a añadir las marcas de agua del portal con el fin de 
                evitar un aprovechamiento inconsentido por parte de terceros.
                </br>
                <a href="#top">Volver arriba</a>
                </p>

                <p>
                6. Contenidos
                </br>
                Este website no se hace responsable de las opiniones, ideas o
                afirmaciones que los usuarios publiquen a través del sistema.
                No se permiten textos racistas o xenófobos, homófobos,
                violentos, con amenazas, insultos, pornografía ni
                publicidad de ningún tipo.
                </br>
                6.1 Eliminación de contenidos
                </br>
                El propietario del website se reserva el derecho a editar o a
                eliminar todo contenido enviado por un usuario que incumpla
                las normas de uso de este website, sin necesidad de previo
                aviso ni comunicación al autor.
                </br>
                El propósito de esta web es la recuperación de bicicletas
                robadas, por lo que el propietario del website se reserva el
                derecho a editar o eliminar todo contenido no relacionado con
                las bicicletas robadas, incluyendo pero no limitándose a
                anuncios publicitarios de cualquier índole, o anuncios de
                artículos robados que no sean bicicletas o afines.
                </br>
                <a href="#top">Volver arriba</a>
                </p>
                <p>
                7. Protección de datos
                </br>
                El único dato que se solicita al usuario es su dirección
                de correo electrónico. A esta dirección sólo se enviará la
                notificación de bicicleta insertada correctamente en el
                sistema, y los posibles mensajes que le envíen otros usuarios
                del sistema. Los datos privados del usuario no serán cedidos
                a terceros ni utilizados para ningún otro fin del aquí
                expuesto ni para fines publicitarios de ningún tipo. Cuando un
                usuario envíe un mensaje a otro usuario a través del sistema,
                el destinatario tendrá conocimiento de la dirección de correo
                electrónico del remitente, a fin de poder iniciar una
                conversación de correo electrónico fuera del sistema.
                </br>
                <a href="#top">Volver arriba</a>

                </p>
                <p>
                8. Exclusión de garantías. Responsabilidad.
                </br>
                Esta web es un proyecto gratuito y sin garantía de soporte ni
                continuidad. Hacemos lo que está en nuestra mano para ofrecer
                este servicio de forma ininterrumpida, pero no podemos
                garantizarlo.
                </br>
                El propietario no será responsable, con los límites
                establecidos en el ordenamiento jurídico vigente, de los daños
                y perjuicios causados al Usuario como consecuencia de la
                indisponibilidad, fallos de acceso y falta de continuidad
                del Portal y sus Servicios.
                </br>
                El website no se hace responsable de la posible aparición
                de anuncios indexados en buscadores ajenos al portal, una
                vez se hayan dado de baja de nuestras bases de datos.
                </br>
                El propietario no controla previamente, aprueba ni hace
                propios los contenidos, servicios, opiniones, comunicaciones
                datos, archivos, productos y cualquier clase de información de
                terceros, personas jurídicas o físicas, recogidos en el Portal.
                De igual forma, no garantiza la licitud, fiabilidad, utilidad,
                veracidad, exactitud, exhaustividad y actualidad de los
                contenidos, o informaciones de terceros en el Portal.
                </br>
                El propietario no controla con carácter previo y no garantiza
                la ausencia de virus y otros elementos en los Contenidos
                introducidos por terceros a través del Portal que puedan
                introducir alteraciones en el sistema informático, documentos
                electrónicos o ficheros de los usuarios.
                </br>
                El propietario no será responsable, ni indirectamente ni
                subsidiariamente, de los daños y perjuicios de cualquier
                naturaleza derivados de la utilización de los Contenidos
                del Portal así como de la falta de licitud, fiabilidad,
                utilidad, veracidad, exactitud, exhaustividad y actualidad
                de los mismos. Con carácter enunciativo, y en ningún caso
                limitativo, no será responsable por los daños y perjuicios de
                cualquier naturaleza derivados de a) la infracción de los
                derechos propiedad intelectual e industrial; b) la realización
                de actos de competencia desleal y publicidad ilícita;
                </br>
                El propietario no será responsable, ni indirectamente ni
                subsidiariamente, de los daños y perjuicios de cualquier
                naturaleza derivados de la utilización negligente olos que el portal haga uso con finalidades publicitarias, así como a añadir las marcas de agua del portal con el fin de evitar un aprovechamiento inconsentido por parte de terceros.
                </br>
                malintencionada de las cuentas de correo electrónico
                utilizadas para cualquier tipo de inserción, comunicación,
                gestión o actuación en el Portal.
                </br>
                El propietario no será responsable, ni indirectamente ni
                subsidiariamente, de los daños y perjuicios de cualquier
                naturaleza causados al Usuario como consecuencia de la
                presencia de virus u otros elementos en los contenidos
                introducidos por terceros en el Portal que puedan producir
                alteraciones en el sistema informático, documentos
                electrónicos o ficheros de los usuarios.
                </br>
                La exoneración de responsabilidad señalada en los párrafos
                anteriores será de aplicación en el caso de que el
                propietario no tenga conocimiento efectivo de que la
                actividad o la información almacenada es ilícita o de que
                lesiona bienes o derechos de un tercero susceptibles de
                indemnización, o si la tuviesen actúen con diligencia para
                retirar los datos y contenidos o hacer imposible el
                acceso a ellos.
                </br>
                El propietario no garantiza que los Usuarios del Portal
                utilicen los contenidos y/o servicios del mismo de conformidad
                con la ley, la moral, el orden público, ni las presentes
                Condiciones Generales y, en su caso, las condiciones
                Particulares que resulten de aplicación. Asimismo, no
                garantiza la veracidad y exactitud, exhaustividad y/o
                autenticidad de los datos proporcionados por los Usuarios.
                </br>
                El propietario no será responsable, indirecta ni
                subsidiariamente, de los daños y perjuicios de cualquier
                naturaleza derivados de la utilización de los Servicios y
                Contenidos del Portal por parte de los Usuarios o que puedan
                derivarse de la falta de veracidad, exactitud y/o autenticidad
                de los datos o informaciones proporcionadas por los Usuarios,
                o de la suplantación de la identidad de un tercero efectuada
                por un Usuario en cualquier clase de actuación a través del
                Portal. A título enunciativo, pero no limitativo, el
                propietario no será responsable indirecta o subsidiariamente
                de a) los contenidos, informaciones, opiniones y
                manifestaciones de cualquier Usuario o de terceras personas
                o entidades que se comuniquen o exhiban a través del Portal;
                b) los daños y perjuicios causados a terceros derivados de
                la utilización por parte del Usuario de los servicios y
                contenidos del Portal; c) Los daños y perjuicios causados
                por la falta de veracidad, exactitud o incorrección de la
                identidad de los usuarios y de toda información que éstos
                proporcionen o hagan accesible a otros usuarios; d) de los
                daños y perjuicios derivados de infracciones de cualquier
                usuario que afecten a los derechos de otro usuario, o de
                terceros, incluyendo los derechos de copyright, marca,
                patentes, información confidencial y cualquier otro derecho
                de propiedad intelectual e industrial.
                </br>los que el portal haga uso con finalidades publicitarias, así como a añadir las marcas de agua del portal con el fin de evitar un aprovechamiento inconsentido por parte de terceros.
                </br>
                <a href="#top">Volver arriba</a>
                </p>
                <p>

                9. Dispositivos técnicos
                </br>
                El Portal utiliza a terceras empresas para recoger
                información, incluyendo el uso de Cookies. Haz click
                aquí http://www.nielsen-netratings.com/privacy/sitecensus.htm,
                http://http://www.google.com/intl/es/privacy.html, 
                http://direct.comscore.com/docs/comScoreHybridMeasurementAgreement.pdf, 
                http://info.yahoo.com/privacity/es/yahoo y 
                http://www.247realmedia.es/ES-ES/privacy-policy.html 
                para conocer más datos sobre como utilizamos este servicio de 
                terceros para recoger información en el Portal. 
                Asimismo, las cookies se podrán utilizar con la finalidad de 
                facilitar al máximo la navegación del Usuario por el Portal, 
                sin que las mismas proporcionen referencias que permitan deducir 
                datos personales del Usuario ni datos del disco duro de su 
                ordenador. Las cookies instaladas se borrarán automáticamente 
                pasado un tiempo desde su instalación. No obstante, el Usuario 
                puede configurar su navegador para que notifique y rechace la 
                instalación de las Cookies enviadas por el Portal, sin que ello 
                perjudique su acceso a los contenidos del mismo.
                </br>
                El Portal le informa que determinados servidores pueden
                guardar, en su memoria caché, una copia de las páginas
                consultadas en el portal por los usuarios. Dicha acción
                se realiza con la finalidad exclusiva de mejorar la velocidad
                de tráfico de las mismas.
                </br>
                <a href="#top">Volver arriba</a>

                </p>
                <p>
                10. Cambio de condiciones
                </br>
                Estas condiciones pueden cambiar, reflejándose el cambio
                únicamente en esta misma página web.
            </div>
        </div>
        

{% endblock %}