<div class="container" role="main">
    <div class="navbar navbarColor navbar-default" role="navigation">
	    <div class="container-fluid">
		      <div class="navbar-header">
		        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		          <span class="sr-only">Toggle navigation</span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		        </button>
		        <a class="navbar-brand" href="/">
		            <img src="{{ STATIC_URL }}imgs/logo.png" 
		                        height="50px" align="top">&nbsp;BikeRobada
		        </a>
		      </div>
		      <div class="navbar-collapse collapse pull-right liGris">
		        <ul class="nav navbar-nav">
		          <li><a href="/denuncias/informacion/">Informacion</a></li>
		          <li><a href="/denuncias/append_denuncias/">Denuncia</a></li>
		          <li><a href="/denuncias/busquedas_index">Busquedas</a></li>
		          <li><a href="/recuperada/index">Recuperada</a></li>
		          <li><a href="/denuncias/consejos">Consejos</a></li>
		          <li><a href="/contacto/index">Contacto</a></li>
		          <li><a href="/participantes/index">Participantes</a></li>
		        </ul>
		        
		      </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </div>
</div>