<div id="footer" class="pie2">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <h4>Producto</h4>
                        <p>Herramientas</p>
                        <p>Django</p>
                        <p>Linux</p>
                        <p>Raspberry Pi</p>
                    </div>
                    
                    <div class="span3">
                        <h4>Desarrollo</h4>
                        <p>Sobre mi...</p>
                    </div>
                    
                    <div class="span3">
                        <h4>Siguenos</h4>
                        <p><img 
                            src="{{ STATIC_URL}}imgs/fbk.png"
                            width="20px">Facebook</p>
                        <p><img 
                            src="{{ STATIC_URL}}imgs/twitter.png"
                            width="20px">Twitter</p>
                        <p><img 
                            src="{{ STATIC_URL}}imgs/gplus.png"
                            width="20px">Google +</p>
                    </div>
                    
                    <div class="span2">
                        <br>
                        <img 
                            src="{{ STATIC_URL}}imgs/dotworld.png"
                            width="200px">
                    </div>
                </div>
            </div>
        </div>